{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="hidden" name="contact_id" value="{{ contact_id }}" />
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
